body {
	font-family: "apercu",sans-serif;
	text-align: center;
	margin: 70px;

}
h3, h1 {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-align: center;
	padding: 50px

}
div, p {
	text-align: left;
	content: 100px;
	width: 799px;
}

header {
	background-image: url("images/hintergrund_andorra.jpg");
	margin: 50px;

}


